/Taller06/nbproject/private/
/JavaApplication72/nbproject/private/
/JavaApplication72/build/
/Ejercicio12/nbproject/private/
/Ejercicio12/build/
/Pregunta15/nbproject/private/
/Pregunta15/build/
/Taller06/build/
